{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    运行管理中心
{% endblock %}
{% block head %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="/static/css/login.css"/>
    <script src="/static/js/index.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
{% endblock %}
{% block body %}
    <body id="content">
        <div class="container">
            <div class="row col-md-offset-4 col-md-4">
            <h1 class="text-center" id="form-label" style=font-family:Helvetica>运行监控室</h1>
            {{ wtf.quick_form(form) }}
                <p style="color: white">New user?<a href="{{ url_for('auth.register') }}">SIGN IN</a>.</p>
            </div>
        </div>
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning" style="width: 50%; margin-left: 25%">
                <script>
                    setTimeout(function() {
                        $(".alert").alert('close');
                    }, 5000);
                </script>
                {{ message }}
            </div>
        {% endfor %}
    </body>
{% endblock %}
{% block script %}
    {{ super() }}
{% endblock %}

